<section class="formContainer">
    <div class="containerSub">
        <h2 id="pageTitle"><%= content.pageTitle %></h2>
        <form method="post" action="<%= routes.subscribe %>" id="subscribeForm">
            <legend id="formLegend"><%= content.legend %></legend>
            <div class="formItem">
                <label class="formLabel" for="firstName"><%= content.firstNameLabel %></label>
                <input type="text" id="firstName" name="firstName" placeholder="<%= content.firstNameInnerLabel %>" required>
            </div>
            <div class="formItem">
                <label class="formLabel" for="lastName"><%= content.lastNameLabel %></label>
                <input type="text" id="lastName" name="lastName" placeholder="<%= content.lastNameInnerLabel %>" required>
            </div>
            <div class="formItem">
                <label class="formLabel" for="userEmail"><%= content.emailLabel %></label>
                <input type="text" id="userEmail" name="userEmail" placeholder="<%= content.emailInnerLabel %>" required>
            </div>
            <div class="formItem">
                <label class="formLabel" for="userSubmission"><%= content.userSubmission %></label>
                <textarea id="userSubmission" name="userSubmission" placeholder="<%= content.userSubmissionInnerLabel %>"></textarea>
            </div>
            <input type="submit" id="submitBtn" value="<%= content.submitBtn %>">
            <p id="confirmMessage"><span id="reqFieldLabel"><%= content.requiredFieldLabel %></span></p>
        </form>
    </div> 
</section>