<nav>
    <ul id="nav-elements" class="unselectable">
        <div class="nav-left">
            <i id="hamburger" class="fa-solid fa-bars"></i>
            <label class="brand unselectable"><a href="<%= routes.home %>">UN DEV GOALS</a></label>
        </div>
        <div id="nav-menu-container">
            <div class="nav-central">
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === 'routes.home' ? 'active' : '' %>" href="<%= routes.home %>">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === 'routes.team' ? 'active' : '' %>" href="<%= routes.team %>">The Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === 'routes.goals' ? 'active' : '' %>" href="<%= routes.goals %>">Goals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === 'routes.subscribe' ? 'active' : '' %>" href="<%= routes.subscribe %>">Subscribe</a>
                </li>
            </div>
        </div>
    </ul>
</nav>